name: CI

on: [push, pull_request]

jobs:
  build-linux:
    runs-on: self-hosted

    - name: Build
      run: ./util/linux-builder/build-in-docker.sh

    - uses: actions/upload-artifact@v4
      with:
        name: vial-linux
        path: util/linux-builder/output/Vial-x86_64.AppImage
